body{
    background-image: url(../MACRO/ft.img//1671251221_3-44.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
display: flex;    
}
.itens-header{
margin-left: 500px;
box-sizing: border-box;
display: flex;
}
#icn-01{
    margin-left: 80px; 
    display: inline-block; 
    box-sizing: border-box;
    height: 80px;
}
#icn-02{
    margin-left: 80px;   
}
#icn-03{
    margin-left: 80px;   
}
#icn-04{
    margin-left: 80px;   
    margin-bottom: 17px;
}